{% extends 'web/base.html' %}

{% block title %}
Catalog
{% endblock %}

{% block header %}
Каталог
{% endblock %}

{% block content %}
    {% if pr %}
        {% for post in pr %}
            <div class="post_img1">
                <img src=" {{ post.img.url }}" alt="">
                <h3>Наименование таовара: {{ post.name }}</h3>
                <p>Описание:  {{ post.description }}</p>
                <h3>Цена: {{ post.price }}.р</h3>
            </div>
        {% endfor %}
    {% else %}
        <p>На данный момент нет товара</p>
    {% endif %}
{% endblock %}
