{% extends 'web/base.html' %}

{% block title %}
Info
{% endblock %}

{% block header %}
Инвормация
{% endblock %}

{% block content %}
    <div class="info">
        <p>Изделия с душ, индивидуаьный подход,
            воплощу любой заказ, изделия по вашим
            изкизам.
        </p>
        <p>Доставка по всей РБ и в любую току мира за вас сёт</p>
        <h3 class="tel"> Тел: +375 29 78 36 201 </h3>
        <h3 class="e-mail"> E-mail: s.tsavel1987@gmail.com</h3>
        <h3 class="address"> Наш адрес: г. Гродно</h3>
    </div>
{% endblock %}

