.header_logo {
    display: inline-dlock;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 40px;
    top: 10%;
    z-index: 501;
}
.header_logo img {
    width: 50px;
    height: 50px;
}
.header_logo a {
    display: block;
    margin: 9px 0 0 0;
    padding: 0;
    border: none;

}

.header_nav {
    background: rgb(33, 33, 33);
    color: rgba(255, 255, 255, 0.25);
    font-family: "montserrat-light", sans-serif;
    font-size 1.3rem;
    padding: 3.6rem, 3rem, 3.6rem, 3.6rem;
    height: 100%;
    width: 250px;
    position: fixed;
    right: 0;
    top: 0;
}
.header_nav a:hover,
.header_nav a:focus,
.header_nav a:active {
    color: white;
}
.header_nav h3 {
    font-family: "montserrat-light", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 4.8rem;
    margin-top: .9rem;
}
.header_nav__content {
    position: relative;
    left: 50px;
}
.header_nav__list {
    font-size: 1.5rem;
    margin: 3.6rem 0 3rem 0;
    padding: 0 0 1.8rem 0;
    list-style: none;
}
.header_nav__list li {
    padding-left: 0;
    line-height: 4.5rem;
}
.header_nav__list li a {
    color: rgba(255, 255, 255, 0.15)
}
.header_nav__social {
    list-style: none;
    display: inline-block;
    margin: 0;
    font-size: 2rem;
}
.header_nav__social li {
    margin-right: 12px;
    padding-left: 0;
    display: inline-block;
}
.header_nav__social li a {
    color: rgba(255, 255, 255, 0.15)
}

.post_img {
    position: relative;
    width: 800px;
    height: 450px;
    left: 40px;
    top: 10%;
}
.post_img img {
    position: relative;
    width: 350px;
    height: 400px;
    left: 40px;
    top: 10%;


}
.post_info {
    color: rgba(0, 0, 0, 0.65);
    position: absolute;
    height: 10%;
    width: 500px;
    left: 420px;
    font-size: 20px;
    line-height: 2.5;
    margin-bottom: 1.8rem;
    margin-top: .9rem;
    top: 5%;
    z-index: 501;

}
.index_img {
    position: absolute;
    margin: 0 auto;
    padding: 0;
    left: 100px;
    top: 10%;
    z-index: 1;
}
.index_img img {
    width: 700px;
    height: 900px;
}

.index_img a text {
    display: block;
    margin: 10px 0 0 0;
    padding: 0;
    border: none;
    position: fixed;
    margin: 20;
    padding: 0;
    left: 10px;
    top: 10%;
    color: rgba(255, 255, 255, 0.15)

}
.index_w {
    display: block;
    margin: 30px 0 0 0;
    padding: 0;
    border: none;
    position: fixed;
    font-size: 3.5rem;
    width: 400px;
    left: 420px;
    left: 120px;
    top: 10%;
    z-index: 10;

}
.index_w a {
    color: rgb(79, 100, 81)
}


.soc {
    font-family: "montserrat-light", sans-serif;
    color: rgba(255, 255, 255, 0.15)
    font-size: 10px;
    line-height: 1.5;
    margin-bottom: 4.8rem;
    margin-top: .9rem;
    position: absolute;
    left: 50px;
    top: 10%;
}
.soc {
    color: rgb(0, 0, 0)
}
.title_page {
    position: relative;
    width: 300px;
    height: 20px;
    left: 20px;
    top: 1%;
}
.title_page h1 {
    font-family: "montserrat-light", sans-serif;
    position: absolute;
    width: 50px;
}
.index_img h1 {
    font-family: "montserrat-light",sans-serif;
    font-size: 20px;
    position: fixed;
    height: 50%;
    width: 200px;
    line-height: 1.5;
    margin-bottom: 4.8rem;
    margin-top: .9rem;
    position: absolute;
    font-size: 20px;
    left: 120px;
    top: 10%;
    text-align: justify;
}

.info {
    font-family: "montserrat-light", sans-serif;
    position: absolute;
    left: 50px;
    top: 10%;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 4.8rem;
    margin-top: .9rem;
}
