.s_header {
    width: 100%;
    height: 96px;
    background-color: transparent:
    position: absolute;
    top: 0;
    z-index: 500;
}
.header_logo {
    display: inline-dlock;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 40px;
    top: 10%;
    z-index: 501;
}
.header_logo img {
    width: 50px;
    height: 50px;
}
.header_logo a {
    display: block;
    margin: 9px 0 0 0;
    padding: 0;
    border: none;
    wid
}

.header_nav {
    background: rgb(33, 33, 33);
    color: rgba(255, 255, 255, 0.25);
    font-family: "montserrat-light", sans-serif;
    font-size 1.3rem;
    padding: 3.6rem, 3rem, 3.6rem, 3.6rem;
    height: 100%;
    width: 200px;
    position: fixed;
    right: 0;
    top: 0;
    /* visibility: hidden; */
}
.index_img h1 {
    font-family: "montserrat-light", sans-serif;
    font-size: 20px;
    position: fixed;
    height: 50%;
    width: 200px;
    line-height: 1.5;
    margin-bottom: 4.8rem;
    margin-top: .9rem;
}
.header_nav a {
    color: rgba(255, 255, 255, 0.5);
}
.header_nav a:hover,
.header_nav a:focus,
.header_nav a:active {
    color: white;
}
.header_nav h3 {
    font-family: "montserrat-light", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 4.8rem;
    margin-top: .9rem;
}
.header_nav__content {
    position: relative;
    left: 50px;
    /* opacity: 0; */
    /* visibility: hidden; */
}
.header_nav__list {
    font-size: 1.8rem;
    margin: 3.6rem 0 3rem 0;
    padding: 0 0 1.8rem 0;
    list-style: none;
}
.header_nav__list li {
    padding-left: 0;
    line-height: 4.5rem;
}
.header_nav__list li a,
.header_nav__list li a:visited {
    color: white;
}
.header_nav__social {
    list-style: none;
    display: inline-block;
    margin: 0;
    font-size: 2rem;
}
.header_nav__social li {
    margin-right: 12px;
    padding-left: 0;
    display: inline-block;
}
.header_nav__social li a {
    color: rgba(255, 255, 255, 0.15)
}
.header_nav__close {
    display: block;
    height: 25px;
    white: 30px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 36px;
    right: 30px;
    z-index: 800;
}
.header_nav__close span::before,
.header_nav__close span::after {
    content: "";
    display: block;
    height: 2px;
    white: 12px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 9px;
    /* margin-top: -1px; */
}
.header_nav__close span::before{
    -webkit-transform: rotate(-45deg)
    -ms-transform: rotate(-45deg)
    transform: rotate(-45deg)
}
}
.header_nav__close span::after{
    -webkit-transform: rotate(-45deg)
    -ms-transform: rotate(-45deg)
    transform: rotate(-45deg)
}
.static-grid-item
 {
    display: inline-dlock;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 50px;
    top: 20%;
    z-index: 501;
}
.post_img1 img {
    width: 350px;
    height: 400px;
}
.index_img {
    display: inline-dlock;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 100px;
    top: 10%;
    z-index: 501;
}
.index_img img {
    width: 500px;
    height: 700px;
}

.index_img a {
    display: block;
    margin: 9px 0 0 0;
    padding: 0;
    border: none;
    wid
}
.index_img h1 {
    font-family: "montserrat-light", sans-serif;
    position: absolute;
    font-size: 20px;
    left: 120px;
    top: 10%;
    text-align: justify;
}
.tel {
    font-family: "montserrat-light", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 4.8rem;
    margin-top: .9rem;
}
.e-mail,
.address {
    font-family: "montserrat-light", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 4.8rem;
    margin-top: .9rem;
}
.soc {
    font-family: "montserrat-light", sans-serif;
    position: absolute;
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 4.8rem;
    margin-top: .9rem;
    left: 120px;
    top: 10%;
}
.title {
    font-family: "montserrat-light", sans-serif;
    font-size: 50px;
    line-height: 1.5;
    margin-bottom: 4.8rem;
    margin-top: .9rem;
}